<?xml version="1.0" encoding="utf-8"?>

<!-- 
   Copyright 2014 Daniel Cazzulino

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0
-->
<packages>
  <package id="CLAP" version="4.5" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.1.0" targetFramework="net45" />
  <package id="netfx-System.AppDomainData" version="1.1.0.0" targetFramework="net45" />
  <package id="netfx-System.Collections.Generic.DictionaryGetOrAdd" version="1.1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net45" />
  <package id="Octokit" version="0.3.5" targetFramework="net451" />
  <package id="Octokit.Reactive" version="0.3.5" targetFramework="net451" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net451" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net451" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net451" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net451" />
  <package id="SemanticGit" version="1.0.2" targetFramework="net451" />
  <package id="Tracer.Realtime" version="1.0" targetFramework="net45" />
  <package id="Tracer.SystemDiagnostics" version="1.1.9" targetFramework="net45" />
</packages>